NODE_ENV=development
PORT=3333
HOST="0.0.0.0"

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
# É "postgres"
POSTGRES_DB=tarefa_node
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tarefa_node?schema=public"

HASH_SALT_ROUNDS=10

